/*_variables.scss */

/* Header Text Styles */
$header-font-family:'Cutive Mono', serif;
$h3-size: 11px;
$link-color: #b6b2af;

/* Body Text Styles */
$text-color: #1a1919;
$base-font-size: 10px;
$base-font-family: 'Dosis', sans-serif;
$base-font-weight: 400;

/*All Colors*/
$primary-color-dark: #1a1919;
$primary-color-light: #fffffe;
