/*_variables.scss */

/* Header Text Styles */
$header-font-family:'Cutive Mono', serif;

/* Body Text Styles */
$text-color: #333333;
$base-font-size: 10px;
$base-font-family: 'Dosis', sans-serif;
$base-font-weight: 400;